.collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #f0f1f2;
    border-bottom: 1px solid #881F27;
    color: #c42b32;
  }
  .collapsible-body {
    display: none;
    border-bottom: 1px solid #881F27;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 2rem;
    background-color: #f0f1f2;
  }

  
    